



html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    background-color: grey;

}


/* Optional custom footer styles */
footer {
    background-color: #000409; /* Dark background */
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

/* footer a:hover {
} */