
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(244, 243, 242);
}



.stats {
    padding: 50px 0;
}

.stats .stat {
    text-align: center;
}

.stats .stat h3 {
    font-size: 2rem;
    color: #cb2323;
}

.stats .stat p {
    font-size: 1rem;
}



/* Footer Start */
footer {
    background-color: #000409; 
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

.social-icons a.icon-hover {
    transition: transform 0.3s ease, color 0.3s ease;
}
/* Footer End */
