

/* Optional custom footer styles */
footer {
    background-color: #343a40; /* Dark background */
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    color: #ffc107;
}