{% extends'base.html' %}
{% load static %}

{% block content %}
<div class="background-image text-center content mt-5">

    <!-- Row containing the image and title -->
    <div class="row align-items-center mb-5">
        <!-- First column: text -->
        <div class="col-md-6 text-center text-dark">
            <h1>Welcome to Our Marketplace</h1>
            <p class="lead">Sign up to add your product now!</p>
            <a href="{% url 'account_signup' %}" class="btn btn-outline-primary text-danger btn-md px-5 mb-5">Sign Up</a>
        </div>
    <!-- Second column: banner -->
    <div class="col-md-6">
        <div class="hero-banner" 
             style="background-image: url('https://res.cloudinary.com/dwuzopoph/image/upload/v1733936420/55_udgtay.png');
                    height: 300px; 
                    background-size: contain; 
                    background-position: center; 
                    background-repeat: no-repeat;">
        </div>
    </div>
    </div>

    <!-- Statistics Section -->
    <section id="stats" class="stats bg-light mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 stat text-center">
                    <i class="fas fa-users fa-3x text-primary"></i>
                    <h3>+10,000</h3>
                    <p>Happy Customers</p>
                </div>
                <div class="col-md-4 stat text-center">
                    <i class="fas fa-shopping-cart fa-3x text-success"></i>
                    <h3>+18,000</h3>
                    <p>Products Sold</p>
                </div>
                <div class="col-md-4 stat text-center">
                    <i class="fas fa-headset fa-3x text-danger"></i>
                    <h3>24/7</h3>
                    <p>Customer Support</p>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}
