<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Main column -->
            <div class="col-md-6 col-sm-8 col-12">
                <h2 class="text-center mb-4">Add New Product</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary w-100 mb-5">Add Product</button>
                </form>
        </div>
    </div>
</div>
