{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-6">
            {% if product.featured_image %}
                <img src="{{ product.featured_image.url }}" class="img-fluid rounded" alt="{{ product.name }}">
            {% else %}
                <img src="https://via.placeholder.com/400" class="img-fluid rounded" alt="No Image">
            {% endif %}
        </div>
        <div class="col-md-6 mt-5">
            <h3 class="text-center text-success mb-5">{{ product.name }}</h3>
            <h6 class="text-primary">Price: <s>€{{ product.price }}</s> Euro</h6>
            <h6 class="text-primary">Discount Price: €{{ product.discount_price }}</h6>
            <p><strong>Description:</strong> {{ product.description }}</p>
            <p><strong>Stock:</strong> {{ product.stock }}</p>
            <a href="{% url 'product_list' %}" class="btn btn-outline-primary mt-3">Back to Product List</a>
            <a href="{% url 'product_update' product.pk %}" class="btn btn-outline-primary mt-3">Edit Product</a>
                <a href="{% url 'product_delete' product.pk %}" class="btn btn-outline-primary mt-3">Delete Product</a>
         
        </div>
    </div>
</div>
{% endblock %}
